<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack4.sharelearning.mapper.LoginMapper">

    <select id="login_info" resultType="com.fullstack4.sharelearning.domain.MemberVO">
        select no,name,user_id,pwd,phoneNumber,email,login_fail,last_date,state
        from tbl_member
        where user_id=#{user_id}
    </select>

    <update id="reset_fail">
        update tbl_member
        set login_fail = 0,
        last_date =now()
        where user_id= #{user_id}
    </update>

    <update id ="login_fail" >
        update tbl_member
        set login_fail = login_fail+1
        where user_id = #{user_id}

    </update>

    <select id ="search_fail">
        select login_fail
        from tbl_member
        where user_id=#{user_id}
    </select>

</mapper>