<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "thhp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fullstack4.sharelearning.mapper.StudyMapper">

   <!-- 페이징 -->
    <sql id="whereCondition">
        <where>

            <if test="search_type !=null and search_type !=''">
                <foreach collection="search_type" item="type" separator=" OR ">
                    <if test="type=='t'.toString()">
                        title like concat('%', #{search_word},'%')
                    </if>

                    <!--<if test="type=='u'.toString()">
                        user_id like concat('%', #{search_word},'%')
                    </if>-->
                </foreach>
            </if>
            <if test="search_date1 !=null and search_date1 !='' ">
                <trim prefix=" and ">
                    reg_date >= #{search_date1}
                </trim>
            </if>
            <if test="search_date2 !=null and search_date2 !='' ">
                <trim prefix=" and ">
                    ADDDATE(#{search_date2},1) >= reg_date
                </trim>
            </if>


        </where>
    </sql>

    <sql id="whereCondition1">
        <if test="search_type !=null and search_type !=''">
            <foreach collection="search_type" item="type" separator=" OR ">
                <if test="type=='t'.toString()">
                    AND title like concat('%', #{search_word},'%')
                </if>
                <!--<if test="type=='u'.toString()">
                    AND user_id like concat('%', #{search_word},'%')
                </if>-->
            </foreach>
        </if>
        <if test="search_date1 !=null and search_date1 !='' ">
            AND reg_date >= #{search_date1}
        </if>
        <if test="search_date2 !=null and search_date2 !='' ">
            AND ADDDATE(#{search_date2},1) >= reg_date
        </if>
    </sql>

    <sql id="whereConditionn">

            <if test="pageRequestDTO.search_type !=null and pageRequestDTO.search_type !=''">
                <foreach collection="pageRequestDTO.search_type" item="type" separator=" OR ">
                    <if test="type=='t'.toString()">
                       AND title like concat('%', #{pageRequestDTO.search_word},'%')
                    </if>
                    <!--<if test="type=='u'.toString()">
                        user_id like concat('%', #{pageRequestDTO.search_word},'%')
                    </if>-->
                </foreach>
            </if>
            <if test="pageRequestDTO.search_date1 !=null and pageRequestDTO.search_date1 !='' ">
                <trim prefix=" and ">
                    reg_date >= #{pageRequestDTO.search_date1}
                </trim>
            </if>
            <if test="pageRequestDTO.search_date2 !=null and pageRequestDTO.search_date2 !='' ">
                <trim prefix=" and ">
                    ADDDATE(#{pageRequestDTO.search_date2},1) >= reg_date
                </trim>
            </if>

    </sql>



    <select id="study_info" resultType="com.fullstack4.sharelearning.domain.StudyVO">
        select *
        from tbl_study
        where user_id=#{user_id}
        <!--오늘의 학습만 -->
        and DATE(`reg_date`) = DATE(#{reg_date})
        and status='Y'
    <!--    and DATE(reg_date) = #{reg_date}-->
    </select>

    <select id="findSharedUsers" resultType="com.fullstack4.sharelearning.domain.StudyUserVO">
        SELECT * FROM tbl_study_user
        WHERE study_idx = #{studyIdx}

    </select>

    <!-- 페이징 -->
    <select id="bbsTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_study
    </select>

    <select id="bbsListByPage" resultType="com.fullstack4.sharelearning.domain.StudyVO">
        select *
        FROM tbl_study
        where user_id=#{user_id}

        <include refid="whereCondition1"></include>
        <if test="search_like !=null and search_like !=''">
            ORDER BY `like` DESC
        </if>
        <if test="search_like ==null and search_like ==''">
        ORDER BY no DESC
        </if>
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <insert id="regist">
        insert into tbl_study(title,content,field,tag,user_id,img,status,exposure_start,exposure_end)
        values(#{title},#{content},#{field},#{tag},#{user_id},#{img},#{status},#{exposure_start},#{exposure_end})

    </insert>

    <select id="lastindex">
        SELECT LAST_INSERT_ID(no) FROM tbl_study order by no desc LIMIT 1
    </select>

    <insert id="share_regist">

        insert into tbl_study_user(study_idx,user_id,shared_by_user_id)
        values(#{study_idx},#{user_id},#{shared_by_user_id})

    </insert>

    <select id="view">
        select *
        from tbl_study
        where no =#{no}
    </select>

    <select id="shareListByPage" resultType="com.fullstack4.sharelearning.domain.StudyVO">
        SELECT *
        FROM tbl_study
        where user_id=#{user_id}

        <include refid="whereCondition1"></include>
        ORDER BY no desc
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="shareTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_study
        where user_id=#{user_id}
    </select>

    <select id="shareList"  resultType="string">
        select shared_by_user_id
        from tbl_study_user
        where user_id=#{user_id}
        and study_idx= ${study_idx}

    </select>


    <!-- 내가 공유 받은 학습 -->
    <select id="share_tome" resultType="com.fullstack4.sharelearning.domain.StudyUserVO">
        SELECT *
        FROM tbl_study_user
        WHERE shared_by_user_id = #{user_id}

    </select>

    <select id="sharedListByPage" resultType="com.fullstack4.sharelearning.domain.StudyVO">
        SELECT A.no, A.title,A.content,A.field,A.tag,A.user_id,A.like,A.reg_date,A.img,A.status,A.exposure_start,A.exposure_end
        FROM tbl_study as A
        INNER JOIN tbl_study_user B ON A.no = B.study_idx
        WHERE B.shared_by_user_id = #{user_id}
        <include refid="whereConditionn"></include>
        ORDER BY A.no desc
        LIMIT #{pageRequestDTO.page_skip_count}, #{pageRequestDTO.page_size}
    </select>


    <select id="getSharedStudyTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_study AS A
        INNER JOIN tbl_study_user B ON A.no = B.study_idx
        where B.shared_by_user_id=#{user_id}
    </select>

    <update id="modify">
        update tbl_study
        set title=#{title},
        content=#{content},
        field=#{field},
        tag=#{tag},
        status=#{status},
        exposure_start=#{exposure_start},
        exposure_end=#{exposure_end}
        where no=#{no}

    </update>

    <!-- 원래 존재하는 테이블 삭제 -->
    <delete id="delete_share">
        delete from tbl_study_user
        where study_idx =#{no}
    </delete>

    <!-- 학습 삭제 -->
    <delete id = "delete_study">
        delete from tbl_study
        where no=#{no}
    </delete>

    <!-- 좋아요 기능 -->

    <insert id="insert_like" >
        insert into tbl_like(user_id,study_idx)
        values (#{user_id},#{study_idx})
    </insert>

    <select id="select_like" resultType="int">
        select COUNT(*) as count
        from tbl_like
        where user_id=#{user_id} and study_idx = #{study_idx}
    </select>

    <update id="update_like">
        update tbl_study
        set `like`= `like`+1
        where no=#{study_idx}
    </update>



</mapper>